<div style="height: 100% ;width:100%">



    <div ng-show="res.results_available">


        <div>
            <p>{{res.result_info.num_results}}</p>

            <p>{{res.result_info.num_math_results}}</p>

            <p>{{res.result_info.num_text_results}}</p>

        </div>
        <ul id="results">
            <li class="animate-repeat" ng-repeat="r in res.results">
                <a ng-href="{{r.full_path}}">
                    <div class="title">{{r.title}}</div>
                </a>


                <div class="fragment" mathjax-bind="r.fragment"></div>
                <div class="moreInfo">
                    <div class="info">Math Score: {{r.math_score}}</div>
                    <div class="info">Text Score: {{r.text_score}}</div>
                    <div class="info">Pos Score: {{r.pos_score}}</div>
                    <div class="info">Math Debug:{{ r.math_reason }}</div>
                    <div class="info">Text Debug: {{r.text_reason}}</div>
                    <div class="info">Pos Debug: {{r.pos_reason}}</div>
                </div>

            </li>
        </ul>
    </div>
    <div ng-hide="res.results_available">

    </div>


</div>