<div style="height: 100% ;width:100%">


    <button ng-click="min.addExpression()"> Update expression

    </button>
    <div id="min_interface"  style="height: 100% ;width:100%" >




    <customiframe url={{min.src}}  width="100%" height="50%" css_style="/static/iframe.css"></customiframe>




    </div>



</div>