<div id="numResults">

</div>
<ul id="results">

    <li class="result" ng-repeat="r in hitlist">
        <div class="expression" mathjax-bind="r"></div>
        <div class="moreInfo"/>


    </li>



</ul>


